*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter',sans-serif;
    color: #0f172a;
}
body{
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
.nav-container{
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    display: flex;
}
.text-link{
    color: inherit;
    text-decoration: none;
}
.text-icon{
    color: inherit;
    font-size: 1.1rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    width: 30px;
    display: grid;
    place-items: center;
    text-decoration: none;
}
.text-icon:hover{
    background-color: rgb(235, 235, 235);
}
.text-link:hover{
    text-decoration:underline ;
}
.image-button{
    border: none;
    background: transparent;
}
.image-button img{
    width: 30px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100%;
}
main{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;    
}
button{
    cursor: pointer;
}
.input-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    border-radius: 1 rem;
    border: 1px solid rgb(235, 235, 235) ;
    border-radius: 1rem;
}
.google-head{
    font-size: 60px;
}

.input-bar input{
    flex: 1;
    border: none;
    outline: none;
    padding: 1rem;
    width: 100%;
} 
.input-bar:hover,
.input-bar:focus-within{
    box-shadow: 0 0 4px 1px rgb(235, 235, 235);
}
.input-bar div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.icon-text{
    background: transparent;
    border: none;
}
.icon-text:hover{
    opacity: 0.6;
}
.button-grid{
    padding: 0.5rem 1rem;
    gap: 1rem;
    border: 1px solid transparent;
    border-radius:0.25rem;
    background: rgb(246, 246, 246);
}
.button-grid:hover{
    border: 1px solid lightgrey;
}
.language-link{
    color: blue;
    cursor: pointer;
}
.language-link:hover{
    text-decoration:underline;
}
.language-text{
    font-size: 0.7rem;
}
footer{
    background-color: rgb(244, 244, 244);
    font-size: 0.8rem;
}
footer > div{
    padding: 1rem;
}
.footer-grid{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}
.footer-link{
    display: flex;
    align-items: center;
    gap: 1rem;
}